Repository sorokya/php-site-template: changes, and which lefthook commands are due for each by the changed paths.
All: biome, pint, phpstan, rector

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
    pint:
      glob: "*.php"
      exclude: ["_ide_helper.php", ".phpstorm.meta.php"]
      run: vendor/bin/pint --test {staged_files}

    phpstan:
      glob: "*.php"
      exclude: ["_ide_helper.php", ".phpstorm.meta.php"]
      run: vendor/bin/phpstan analyse --memory-limit=2G {staged_files}

    rector:
      glob: "*.php"
      exclude: ["_ide_helper.php", ".phpstorm.meta.php"]
      run: vendor/bin/rector process --dry-run {staged_files}

File based routing
  public/index.php
  src/Views/Layouts/base.php
  src/Views/bar.php
  src/Views/foo.php
  src/Views/index.php
Due: pint, phpstan, rector

Add license
  LICENSE.txt
Due: none

Add README
  README.md
Due: none

Fix titles
  src/Views/bar.php
  src/Views/foo.php
  src/Views/index.php
Due: pint, phpstan, rector

Improve layout code and add phinx for db migrations
  .env.example
  composer.json
  composer.lock
  db/migrations/20260214090121_init.php
  phinx.php
  src/Layouts/base.php
  src/Utils/LayoutHelper.php
  src/Views/bar.php
  src/Views/foo.php
  src/Views/index.php
Due: biome, pint, phpstan, rector

Load dotenv in site
  public/index.php
Due: pint, phpstan, rector

Hot reload and default favicon
  .env.example
  build.mjs
  js/global.js
  js/hot-reload.js
  package.json
  pnpm-lock.yaml
  src/Layouts/base.php
Due: biome, pint, phpstan, rector

Migrate on app start
  .env.example
  composer.json
  docker-compose.yml
  docker/entrypoint.sh
Due: biome

Login and session
  db/migrations/20260214112111_add_session_table.php
  db/seeds/DefaultUser.php
  public/index.php
  src/Authentication/LoginRequest.php
  src/Authentication/LoginService.php
  src/Authentication/Session.php
  src/Authentication/User.php
  src/Data/PDO.php
  src/Layouts/base.php
  src/Views/bar.php
  src/Views/foo.php
  src/Views/index.php
  src/Views/login.php
Due: pint, phpstan, rector

Logout method
  src/Authentication/LoginService.php
  src/Layouts/base.php
  src/Views/index.php
  src/Views/login.php
  src/Views/logout.php
Due: pint, phpstan, rector

Add workflow
  .github/actions/setup/action.yml
  .github/workflows/tests.yml
Due: none

Add docker workflow
  .github/workflows/docker.yml
Due: none

update README
  README.md
Due: none

Add some styling
  .gitignore
  build.mjs
  css/global.css
  css/img/bg.jpg
  css/login.css
  css/nav.css
  src/Layouts/base.php
  src/Utils/LayoutHelper.php
  src/Views/index.php
  src/Views/login.php
  src/Views/posts.php
  src/Views/settings.php
Due: biome, pint, phpstan, rector

Post creation/edit/delete
  build.mjs
  css/posts.css
  public/index.php
  src/Authentication/LoginAction.php
  src/Content/CreatePostAction.php
  src/Content/CreatePostRequest.php
  src/Content/DeletePostAction.php
  src/Content/EditPostAction.php
  src/Content/EditPostRequest.php
  src/Content/GetPostsAction.php
  src/Layouts/base.php
  src/Models/Post.php
  src/Models/Session.php
  src/Models/User.php
  src/Utils/LayoutHelper.php
  src/Utils/ResponseHelper.php
  src/Utils/SessionHelper.php
  src/Views/login.php
  src/Views/logout.php
  src/Views/posts.$id.delete.php
  src/Views/posts.$id.edit.php
  src/Views/posts.php
Due: biome, pint, phpstan, rector

Add ResponseHelper::redirect and fix return type
  public/index.php
  src/Utils/LayoutHelper.php
  src/Utils/ResponseHelper.php
  src/Views/login.php
  src/Views/logout.php
  src/Views/posts.$id.delete.php
  src/Views/posts.$id.edit.php
  src/Views/settings.php
Due: pint, phpstan, rector

Flash messages
  css/global.css
  src/Authentication/ChangePasswordAction.php
  src/Authentication/ChangePasswordRequest.php
  src/Layouts/base.php
  src/Utils/SessionHelper.php
  src/Views/login.php
  src/Views/posts.$id.delete.php
  src/Views/posts.$id.edit.php
  src/Views/posts.php
  src/Views/settings.php
Due: pint, phpstan, rector

Theme toggle
  css/global.css
  css/img/bg-dark.gif
  css/login.css
  css/nav.css
  css/posts.css
  css/variables.css
  src/Layouts/base.php
  src/Utils/LayoutHelper.php
  src/Utils/ResponseHelper.php
  src/Views/toggle-theme.php
Due: pint, phpstan, rector

CSS cleanup
  css/global.css
  css/login.css
  css/nav.css
  css/posts.css
  css/variables.css
  src/Views/posts.php
Due: pint, phpstan, rector

Views->Pages
  README.md
  public/index.php
  src/Pages/index.php
  src/Pages/login.php
  src/Pages/logout.php
  src/Pages/posts.$id.delete.php
  src/Pages/posts.$id.edit.php
  src/Pages/posts.php
  src/Pages/settings.php
  src/Pages/toggle-theme.php
Due: pint, phpstan, rector

enable gzip compression
  docker/nginx.conf
Due: none

tweak css
  css/nav.css
  src/Layouts/base.php
Due: pint, phpstan, rector

Make nav header a link
  css/nav.css
  src/Layouts/base.php
Due: pint, phpstan, rector

Tweak post css
  css/posts.css
  src/Pages/posts.php
Due: pint, phpstan, rector

alpine progressive enhancement
  src/Content/CreatePostRequest.php
  src/Content/EditPostRequest.php
  src/Layouts/base.php
  src/Pages/posts.php
  src/Pages/settings.php
Due: pint, phpstan, rector

Change to dotenv safeLoad and fix db migrations in docker image
  docker/Dockerfile
  phinx.php
  public/index.php
Due: pint, phpstan, rector

Fix static assets in container
  docker/Dockerfile
  docker/nginx.conf
Due: none
